<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains for universal links and web credentials -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:terrier.scottylabs.org</string>
		<string>webcredentials:terrier.scottylabs.org</string>
        <string>applinks:terrier-staging.scottylabs.org?mode=developer</string>
        <string>webcredentials:terrier-staging.scottylabs.org?mode=developer</string>
	</array>

	
	<!-- Push Notifications (optional, for future use) -->
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
